/***********
reset
***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/***********
body
***********/

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top,#dcdbd2 85%, #039688 15%);
    display: flex;
}

/***********
app
***********/

.app{
    display: flex;
    height: 90vh;
    width: 1400px;
    margin: auto;
    background-color: white;
    overflow: hidden;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col{
    width: 100%;
}

/**********
col left
**********/

.col-left{
    width: 30%;
    height: 100%;
}

.col-left .col .card{
    display: flex;
    padding: 10px;
}

/***********
prima card
***********/

.col-left .row .col:first-child .card {
    background-color: #eaeaea;
    align-items: center;
    justify-content: space-between;
}

.col-left .col:first-child .card  > .card-icons > i{
    margin: 10px;
    font-size: 24px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(9%) saturate(7%) hue-rotate(33deg) brightness(96%) contrast(90%);
}

/***********
seconda card
***********/

.col-left .col:nth-child(2) .card {
    background-color: #8fdafc;
}

.col-left .col:nth-child(2) .card .card-pic{
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}

.col-left .col:nth-child(2) .card .card-pic > .pic{
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(86%) sepia(16%) saturate(4107%) hue-rotate(175deg) brightness(103%) contrast(109%);
}

.col-left .col:nth-child(2) .card .card-text {
    padding: 5px 15px;
}

.col-left .col:nth-child(2) .card .card-text > a{
    color: #637c86;
}

/**************
terza card
**************/

.col-left .col:nth-child(3) .card {
    background-color: #f1ecec;
}

.col-left .col:nth-child(3) .card > input{
    width: 95%;
    height: 30px;
    margin: 0 auto;
    border: none;
    padding-left: 10px;
    color: gray;
    font-size: 15px;
}

/***********
chat
***********/

.col-left .row:nth-child(2){
    overflow-y: scroll;
    height: calc(100% - 196px);
}

.col-left .row:nth-child(2) .col{
    height: calc(100% / 6 - 1px);
}

.col-left .row:nth-child(2) .col .card {
    background-color: #ffffff;
    justify-content:unset;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.1px solid lightgray;
    border-top: 0.1px solid lightgray;
}

.col-left .row:nth-child(2) .col .card:hover {
    background-color: #e9e9e9;
}

.col-left .row:nth-child(2) .col .card .card-text {
    padding: 5px 15px;
}

.col-left .row:nth-child(2) .col .card .card-text > p{
    color: gray;
    font-size: smaller;
}

/**********
col right
**********/

.col-right{
    width: 70%;
    height: 100%;
}

/*************
utility
*************/

.pic{
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.v1{
    background-image: url("../img/avatar_1.jpg");
}

.v2{
    background-image: url("../img/avatar_2.jpg");
}

.v3{
    background-image: url("../img/avatar_3.jpg");
}

.v4{
    background-image: url("../img/avatar_4.jpg");
}

.v5{
    background-image: url("../img/avatar_5.jpg");
}

.v6{
    background-image: url("../img/avatar_6.jpg");
}

.v7{
    background-image: url("../img/avatar_7.jpg");
}

.v8{
    background-image: url("../img/avatar_8.jpg");
}

.vio{
    background-image: url("../img/avatar_io.jpg");
}

@media screen and (max-width: 1200px){
    .app{
        height: 100vh;
        width: 100vw;
    }

    /************
    col left
    ************/

    .col-left{
        width: max-content;
    }

    .col-left .col .card{
        padding: 20px 30px;
    }

    .col-left .col:first-child .card  > .card-icons{
        display: none;
    }

    .col-left .col:nth-child(2) {
        display: none;
    }

    .col-left .col:nth-child(3){
        display: none;
    }

    .col-left .row:nth-child(2){
        height: 100%;
    }

    .col-left .row:nth-child(2) .col .card .card-text {
        display: none;
    }
}

@media screen and (max-width: 600px){
    .col-left{
        display: none;
    }
}