/***********
reset
***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/***********
body
***********/

body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top,#dcdbd2 85%, #039688 15%);
    display: flex;
}

/***********
app
***********/

.app{
    display: flex;
    height: 90vh;
    width: 1400px;
    margin: auto;
    background-color: white;
    overflow: hidden;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col{
    width: 100%;
}

/**********
col left
**********/

.col-left{
    width: 30%;
    height: 100%;
}

.col-left .col .card{
    display: flex;
    padding: 10px;
}

/***********
prima card
***********/

.col-left .profile .col:first-child .card {
    background-color: #eaeaea;
    align-items: center;
    justify-content: space-between;
    border-right: 0.5px solid lightgray ;
}

.col-left .profile .col:first-child .card  > .card-icons > i{
    margin: 10px;
    font-size: 24px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(9%) saturate(7%) hue-rotate(33deg) brightness(96%) contrast(90%);
}

/***********
seconda card
***********/

.col-left .profile .col:nth-child(2) .card {
    background-color: #8fdafc;
}

.col-left .profile .col:nth-child(2) .card .card-pic{
    background-color: white;
    border-radius: 50%;
    padding: 15px;
}

.col-left .profile .col:nth-child(2) .card .card-pic > .pic{
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(86%) sepia(16%) saturate(4107%) hue-rotate(175deg) brightness(103%) contrast(109%);
}

.col-left .profile .col:nth-child(2) .card .card-text {
    padding: 5px 15px;
}

.col-left .profile .col:nth-child(2) .card .card-text > a{
    color: #637c86;
}

/**************
terza card
**************/

.col-left .profile .col:nth-child(3) .card {
    background-color: #f1ecec;
}

.col-left .profile .col:nth-child(3) .card > input{
    width: 95%;
    height: 30px;
    margin: 0 auto;
    border: none;
    padding-left: 10px;
    color: gray;
    font-size: 15px;
}

/***********
chat
***********/

.col-left .chat{
    overflow-y: scroll;
    height: calc(100% - 196px);
}

.col-left .chat .col{
    height: calc(100% / 6 - 1px);
}

.col-left .chat .col .card {
    background-color: #ffffff;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.1px solid lightgray;
    border-top: 0.1px solid lightgray;
}

.col-left .chat .col .card:hover {
    background-color: #e9e9e9;
}

.col-left .chat .col .card .card-text {
    padding: 5px 15px;
}

.col-left .chat .col .card .card-text > p{
    color: gray;
    font-size: smaller;
}

/**********
col right
**********/

.col-right{
    width: 70%;
    height: 100%;
}

.col-right .col:first-child .card{
    display: flex;
    align-items: center;
    padding: 10px;
}

.chat-info{
    background-color: #eaeaea;
}

.col-right .card-icons > i{
    margin: 10px;
    font-size: 24px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(9%) saturate(7%) hue-rotate(33deg) brightness(96%) contrast(90%);
}

.col-right .chat-info .col .card .card-text{
    padding-left: 15px;
    width: 80%;
}

.col-right .chat-info .col .card .card-text > p{
    color: gray;
    font-size: smaller;
}

.col-right .chat-info .col .card .card-icons{
    padding-left: 45px;
    width: 20%;
}

.col-right .chat-info .col .card .card-icons > i{
    font-size: 20px;
}

.text-area{

}

.message-area{

}

/*************
utility
*************/

.pic{
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

@media screen and (max-width: 1200px){
    .app{
        height: 100vh;
        width: 100vw;
    }

    /************
    col left
    ************/

    .col-left{
        width: max-content;
    }

    .col-left .profile .col .card{
        padding: 20px 30px;
    }

    .col-left .chat .col .card{
        padding: 20px 30px;
    }

    .col-left .profile .col:first-child .card  > .card-icons{
        display: none;
    }

    .col-left .profile .col:nth-child(2) {
        display: none;
    }

    .col-left .profile .col:nth-child(3){
        display: none;
    }

    .col-left .chat{
        height: 100%;
    }

    .col-left .chat .col .card .card-text {
        display: none;
    }

    .col-right{
        width: 100%;
    }

    .col-right .chat-info{
        width: 100%;
    }

    .col-right .chat-info .col .card{
        padding: 20px 30px;
    }

    .col-right .chat-info .col .card .card-text{
        padding-left: 20px;
    }

    .col-right .chat-info .col .card .card-text{
        padding-left: 15px;
        width: 70%;
    }

    .col-right .chat-info .col .card .card-icons{
        width: 30%;
        padding-left: 5px;
    }

}

@media screen and (max-width: 600px){
    .col-left{
        display: none;
    }

    .col-right .chat-info .col .card .card-text{
        padding-left: 30px;
    }

    .col-right .chat-info .col .card .card-icons{
        display: none;
    }
}